

.Button {
        text-align:center; 
        margin: 0 auto;
        Height: 30px;
        Width: 60px;
        background-color: #A9A9A9;
        font-family: "Helvetica Neue", Helvetica;
        font-size: 12px;
        color: black;
        border-radius:10%;
        font-weight:bold;
        left:5px;
       
}

.Button:hover {
        background-color: #D3D3D3;
        opacity:0.2;

}




INPUT#Guess {
    border: 2px solid #D3D3D3;
    Height: 30px;
    Width: 150px;
    
}

div div div {
    display: inline-block;
 }

body{
      
    background-image :url('mind6.jpg');
    background-color:#cccccc;
    text-align:center;
} 

h1{
  text-align:center;
  font-family:"Helvetica Neue", Helvetica;
  font-weight:normal;
  color: #4682B4;
} 

h2{
  text-align:center;
  font-family:"Helvetica Neue", Helvetica;
  font-weight:bold;
  color: white;
  font-size:1em;
}

table {
  text-align:center;
  font-family: "Helvetica Neue", Helvetica;
  font-weight:normal;
  color: white;
  font-size:0.9em;    
  margin-left: 320px;
  margin-right: 40px;  
  table-layout: fixed;
  width: 700px;
  border: none
}

h3 {
  text-align:center;
  font-family:"Helvetica Neue", Helvetica;
  font-weight:bold;
  color: white;
  font-size:1em;
}  

#moi {
    position:relative;
    margin-top: 20px;
    margin-left: 56px;
    text-align:center;
    border: 5px solid black;
    border-radius:20%;
    
    
    
} 

p {   
  font-family:"Helvetica Neue", Helvetica;
  font-weight:normal;
  color: red;
  font-size:1em;
}  

#rounds_left { 
    position:fixed;
    font-weight: bold;
    font-family:"Helvetica Neue", Helvetica;
    margin-right: 10px;
    margin-bottom: 600px;
    margin-left: 50px;
    color: red;
}
    

#inline_table p, #inline_table table {
    display: inline-block;
    }
    
#fourth, #moi {
    display: inline-block;
}
    