

INPUT#Button1 {
        text-align:center;  
        Height: 30px;
        Width: 50px;
        background-color: #820404;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        color: #FFFFFF;
        border-radius:20%
}
    
INPUT#Button1:hover {
        background-color: yellow;

}

INPUT: focus {
        border: 2px solid green;
}

INPUT:invalid {
        border: 2px solid red;
}

body{
    text-align:center;    
    background-image :url('mind3.gif');
    background-color:#cccccc;
} 

h1{
  text-align:center;
  font-family:Verdana;
  font-weight:bold;
  color: white;
} 

h2{
  text-align:center;
  font-family:Verdana;
  font-weight:bold;
  color: white;
  font-size:1em;
}

table {
  text-align:center;
  font-family:Verdana;
  font-weight:bold;
  color: white;
  font-size:1em;  
  margin: 0 auto;
}

