<html>
  <head>
    <LINK Rel=stylesheet TYPE ="text/css" HREF="{{ url_for('static', filename='form_1.css') }}">
    {% if title %}
    <title>{{title}} - Beanmind</title>
    {% else %}
    <title>Beanmind</title>
    {% endif %}
    
  </head>
  
  <body>
    
    {% extends "base.html" %}
    {% block content %}
    <h1>Bonjour Monsieur Poulpe, time to use your neurons! {{lala}}</h1>
       
    <div id="wrapper">
		<div id="inputs">
			<form name="input" action="/index" method="post">
				<h2> {{check_guess }} Make a guess by typing 4 numbers between 1 and 8 </h2>
                <br> </br>
                <div><input type="text" name="Guess" placeholder="Type your guess here" ID = "guess" ></div>		                
                <div><input type="submit" value="Submit" ID="Button1" ></div>  
                <a href = "/" >
                <input type="submit" value="Restart" ID="Button2">
                </a>      
				              
			</form>
            
		</div>
	</div>
    <div>
        <table border="1px">
            <thead>
                <tr>
                    <th> {{Attempt_Number}} </th>   
                    <th> {{Guess_form}} </th>	
                    <th> {{Number_of_Reds}} </th>	
                    <th> {{Number_of_Whites}} </th>	
                </tr>
                {% if red == 4 %}                 
                <tr>                
                   <img src= "/static/mind7.jpg" ID= "moi"/> 
                </tr> 
                {% endif%}
                
            </thead>
            <tbody>
                {% for attempt_num in attempt_number %}                              
                <tr>
                    <td>{{ generalist[attempt_num][0] }}</td> 
                    <td>{{ generalist[attempt_num][1] }}</td> 
                    <td>{{ generalist[attempt_num][2] }}</td> 
                    <td>{{ generalist[attempt_num][3] }}</td> 
                     
                </tr>
                {% endfor%}
                
                                  
            </tbody>
        </table>
    </div>
    <h3>{{first}} {{red_number}} {{second}} {{white_number}} {{third}} <h3>
  {% endblock %} 
  </body>
</html>